* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    h2 {
        font-size: 50px;
        margin-bottom: 1rem;
    }
}

body {
    background-image: url('img/Fundo\ Site\ Patas\ e\ Pelos.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #333333;
    line-height: 1.6;
}

/* Estilização do Cabeçalho */
.cabecalho {
    background-color: #0a6bac;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo img {
    height: 150px; 
    width: auto; 
    display: block;
}

/* Menu de Navegação */
.menu-lista {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu-lista a {
    color: #ebe3e3;
    text-decoration: none;
    font-weight: 600;
    transition: opacity 0.2s;
    font-size: 1.2rem;
}

.menu-lista a:hover {
    opacity: 0.8;
    color: #0b0983;
}

/* Conteúdo Principal (Início) */
.conteudo-principal {
    text-align: center;
    padding: 2px;
}

/* Título Principal */
.conteudo-principal h1 {
    font-size: 80px; /* Um pouco abaixo de 100px para não estourar telas menores, mas mantendo grande */
    margin: 2rem;
    color: #1ba9c2;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.conteudo-principal p {
    font-size: 20px;
    font-weight: 400;
    margin: 1rem 0;
    color: #333333;
}

#sobre {
    padding: 20px;
    text-align: center;
    max-width: 800px;
    border: 1px solid #ccc;
    margin: 20px auto;
    background-color: #ffffff;
}

.secao-sobre h2 {
    color: #1ba9c2;
    padding: 10px;
    text-align: center;
}

.secao-servicos h2 {
    color: #1ba9c2;
    padding: 10px;
    text-align: center;
}

#servicos {
    padding: 20px;
    text-align: center;
    max-width: 800px;
    border: 1px solid #ccc;
    margin: 20px auto;
    background-color: #ffffff;
}

/* Seção Contato */
#contato {
    padding: 20px;
    text-align: center;
    max-width: 800px;
    border: 1px solid #ccc;
    margin: 20px auto;
    background-color: #ffffff;
}

#contato h2 {
    color: #1ba9c2;
    padding: 10px;
    text-align: center;
}

#contato ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#contato li {
    margin: 8px 0;
}

/* Rodapé */
.rodape {
    background-color: #0a6bac;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem 2rem;
    margin-top: 40px;
    width: 100%;
}